<!DOCTYPE html>
<html>
    <head>        
        <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" />
        <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

    </head>
    <body ng-app="main">
       

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>Grid Create Update Delete</h1>
            </div>
            <div ng-controller="DemoCtrl">
                <div gcrud class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <gcrud:grid>
                                <table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover dataTable no-footer">   
                                    <tbody>                     
                                    <tr ng-repeat="item in $data" ng-class="{'active': item.$selected}"  ng-click="selectItem(item, true)">
                                        <td data-title="'Name'" sortable="name">{{item.name}}</td>
                                        <td data-title="'Age'" sortable="age">{{item.age}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </gcrud:grid>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <gcrud:detail>
                                <fieldset>
                                    <dl class="dl-horizontal editable-row">
                                        <dt>Name: </dt>
                                        <dd editable-text="selectedItem.name" e-name="name" >{{selectedItem.name}}</dd>
                                        <dt>Age: </dt>
                                        <dd editable-select="selectedItem.age" e-name="place" >
                                        {{selectedItem.age}}
                                        </dd>
                                    </dl>
                                </fieldset>
                                </gcrud:detail>
                            </div>
                        </div>                                        
                    </div>
                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">GCRUD angular component by ZECA.</p>
            </div>
        </footer>

        <script src="bower_components/angular/angular.js"></script>     
        <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>     
        <script src="bower_components/lodash/dist/lodash.js"></script>     
        <script src="bower_components/ng-table/dist/ng-table.js"></script>     
        <script src="app.js"></script>
        <script src="bower_components/gcrud/src/gcrud.js"></script>     
        <script src="bower_components/gcrud/src/gcrud-directive.js"></script>     
        <script src="bower_components/gcrud/src/gcrud_grid/gcrud-grid-directive.js"></script>     
        <script src="bower_components/gcrud/src/gcrud_detail/gcrud-detail-directive.js"></script>     

    </body>
</html>