<p><button id="btn-reload" ng-show="showResetButton()" ng-click="removeFilters()" class="btn btn-default">Eliminar filtros</button></p>

<div ng-transclude></div>

<div ng-if="!!emptyItemList">
    <div class="alert alert-block alert-warning">
        <h4 class="alert-heading">No se han encontrado registros!</h4>
        Elimina los filtros para poder visualizar la lista
    </div>
</div>
<!-- <widget:itemsgrid> -->

<!-- end widget content -->
<form class="smart-form widget-body no-padding">
    <footer>
        <!-- button to add item -->
        <button type="button" class="btn btn-primary" ng-click="addItem()">
            Agregar
        </button>
    </footer>
</form>